* {
    margin: 0;
    font: normal Arial, Helvetica, sans-serif;
    text-decoration: none;
    list-style: none;
}

h1 {
    font-size: medium;
    margin: 0em 4em;
}

h2 {
    color: white;
    font-size: 3em;
    font-weight: lighter;
    letter-spacing: 0.3em;
}

img {
    height: 100%;
    object-fit: cover;
}

header {
    padding: 1.5em 3em;
    position: static;
    background-color: white;
    /* width: 100vw; */
}

.serif {
    font-family: 'Bookman Old Style', serif;
}


.margined {
    margin: 5vw;
}

.colored-block {
    background-color: #af9453;
    color: white;
    /* height: 100%; */
}

.btn {
    color: white;
    border: 1px solid white;
    display: inline-block;
    padding: 0.5em;
    font-size: smaller;
}

.flex-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.brown {
    color: #af9453;
}

#nav-bar {
    gap: 2em;
}

#nav-bar a {
    text-decoration: none;
    color: #000;
}

a#nav-home {
    color: #756337;
}

#nav-bar a:hover {
    color: #756337;
}

section {
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
    width: 90vw;
    height: 50vw;
    display: flex;
    align-content: center;
    justify-content: center;
    gap: 3em;
}

#sec-quote, section#sec-slogan{
    align-items: center;
}


section div{
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

section h3{
    margin: 1em 0em;
    font-size: x-large;
    font-weight: normal;
    letter-spacing: 0.4em;
}

section p{
    font-size: medium;
    font-weight: 100;
    letter-spacing: 0.2em;
    line-height: 1.6;
}

.icon{
    font-size: 3em;
    font-weight: 100;
}

.arrow{
    font-size: 3em;
    transform: scaleX(1.2);
    margin: 0.5em;
}

.quote{
    margin: 2em;
    width: 45vw;
    font-size: 1.8em;
    font-weight: normal;
    letter-spacing: 0.1em;
}

small {
    margin: 2em;
    font-size: medium;
    font-weight: bold;
}

section .colored-block {
    background-image: url(images/flower.png);
    background-size: cover;
    background-position: center;
    padding: 4em 2em;
}


#sec-slogan {
    background-image: url(images/image3.png);
    background-size: 100vw;
    width: 100vw;
    height: 70vw;
}

#sec-services .colored-block {
    flex: 1;
}

#sec-services .img-container {
    flex: 2;
}

#sec-gallery {
    background-image: url(images/image2.png);
    height: 60vw;
    justify-content: end;
}

#sec-gallery .colored-block{
    background-image: url(images/flower-mirrored.png);
    width: 20%;
}

footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 6em;
    padding: 2em;
}
footer .info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2em;
    font-size: x-small;
}

#contact-info {
    border-left: 1px solid;
    padding-left: 2em;
    border-right: 1px solid;
    padding-right: 2em;
}



/* header {

} */
