* {
    margin: 0;
    font: normal Arial, Helvetica, sans-serif;
    text-decoration: none;
    list-style: none;
}

img {
    height: 100%;
    object-fit: cover;
}


.margined {
    margin: 5vw;
}

.colored-block {
    background-color: #af9453;
    color: white;
    /* height: 100%; */
}

.btn {
    color: white;
    border: 1px solid white;
    display: inline-block;
    /* margin: 3em; */
    padding: 0.5em;
    font-size: smaller;
    /* font-weight: lighter; */
}

section {
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
    width: 90vw;
    height: 50vw;
    display: flex;
    align-content: center;
    justify-content: center;
    gap: 3em;
}

#sec-quote, section#sec-slogan{
    align-items: center;
}


section div{
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

section h3{
    margin: 1em 0em;
    font-size: x-large;
    font-weight: normal;
    letter-spacing: 0.4em;
}

section p{
    font-family:'Times New Roman', Times, serif;
    font-size: medium;
    font-weight: 100;
    letter-spacing: 0.2em;
    line-height: 1.6;
}


section .colored-block {
    background-image: url(images/flower.png);
    background-size: cover;
    background-position: center;
    padding: 4em 2em;
}


#sec-slogan {
    background-image: url(images/image3.png);
    background-size: 100vw;
    width: 100vw;
    height: 70vw;
}

#sec-services .colored-block {
    flex: 1;
}

#sec-services .img-container {
    flex: 2;
}

#sec-gallery {
    background-image: url(images/image2.png);
    height: 60vw;
    justify-content: end;
}

#sec-gallery .colored-block{
    background-image: url(images/flower-mirrored.png);
    width: 20%;
}

footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    /* height: 10vw; */
    padding: 2em;
}
footer .contact{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2em;
    font-size: x-small;
    
}



/* header {

} */
